body{
    margin: 0;
    padding: 0;
    font-family:Times New Roman;
    color: red(30, 19, 20);

  
}


/* Global */
section .container{
    margin: 50px;
}


ul{
 

}

/* Header **/
header {
   width: 200px;
  background: #DAC8BF;
  color: #333;
  height: 100px;
  margin: 10px 0px 0px 0px;
  }
  

header a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: red(3, 22, 19);
    font-family:Times New Roman;

}

header li{
   display: inline-block;
   margin: 0 10px;
}

header #branding{

}

header #branding h1{
    display: inline-block;
    margin-left: 50px;
    line-height: 50px;

    color: rgb(3, 22, 19);
    font-family:Comic Sans MS;

}
header nav{
    
    
}

header .highlight, header .current a{
}

header a:hover{
    
}   

footer{
   width: 200px;
  background: #BD9C8C;
  color: #DAC8BF;
  margin: 0px 0px 10px 0px;
  padding: 10px;
}
