body {
    margin: 0;
    padding: 0;
    font-family:Times New Roman;
    color: red(30, 19, 20);

  }
/* Global */
section .container{
    margin: 30px 0 0 0;
}
ul{
  

}

/* Header **/
header{
    background-color: rgb(196, 255, 240);
    border-bottom: 3px solid  rgb(202, 152, 202);
    height: 100px;

}
header a {
    text-decoration: none;
    color: red(10, 15, 16);
    font-family:Times New Roman;
}
header li{
  

}
header #branding{
  

}
header #branding h1{
  display: inline-block;
  background: orange;
  font-family:Times New Roman;
}
header nav{
    float: right;
    margin-top: -70px;
    margin-right: 70px;

}
header .highlight, header .current a{
}
header a:hover{
    background-color:yellow;
    color:green;
}
/* Showcase */
#showcase{
    background-image: url(../img/showcase.jpg);
    height: 400px;
    background-position: center;
    padding: 10px;
}
#showcase h1{
    font-size: 50px;
    text-align:center;
    font-style: normal;
    color:rgb(7, 124, 7);


}
#showcase p{
   font-style: normal;
   font-size: 50px;
   text-align:center;
   color: green;
}
footer { 
   background-color: red(27, 138, 230);
   height: 50px;
   text-align: center;
   padding-top: 30px;
   font-size: 18px;
}
