body{
    margin: 0;
    padding: 0;
    font-family:Times New Roman;
    color: red(30, 19, 20);

}

/* Global */
section .container{
    margin: 50px;
}


ul{
  
}


.button_1{
   height: 28px;
   background-color: red(53, 112, 186);

}

.dark{
   background-color: red(185, 200, 182);
   padding: 50px;
    
}

/* Header **/
header{
  width: 100%;
  background-color: red(196, 255, 240);
  display: inline-block;
  border-bottom: 3px solid  red(202, 152, 202);
}

header a{
  text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
   color: red(3, 22, 19);

}

header li{
    display: inline-block;
    margin: 0 10px;
}

header #branding{
  
}
header #branding h1{
   display: inline-block;
    margin-left: 50px;
    line-height: 50px;

    color: red(3, 22, 19);
    font-family:Times New Roman;
}

header nav{
    float: right;
    margin-top: -70px;
    margin-right: 70px;

}

header .highlight, header .current a{
    
}

header a:hover{
    background-color:yellow;
    color:green;
}

/* Showcase */
#showcase{
    background-image: url(../img/showcase.jpg);
    height: 400px;
    background-position: center;
    padding: 10px;
}
#showcase h1{
    font-size: 50px;
    text-align:center;
    font-style: normal;
    color:rgb(7, 124, 7);


}
#showcase p{
   font-style: normal;
   font-size: 50px;
   text-align:center;
   color: green;
}

/* Newsletter */
#newsletter{
    background-color: red(167, 235, 214);
    height: 50px;
    padding-top: 10px;
}

#newsletter h1{
    font-family:Times New Roman;
    margin-top:-40px;
}

#newsletter form {
    float: right;
    margin-top: -50px;
    margin-right: 130px;

}

#newsletter input[type="email"]{
    border: 2px solid  red(79, 149, 214);
    height: 24px;
    width: 250px;
}

/* Boxes */
#boxes{
    text-align: center;
}

#boxes .box{
    display: inline-block;
    width: 30%;
    margin: 0 30px;
}

#boxes .box img{
    width: 80px;    
}

/* Sidebar */
aside#sidebar{
    float: right;
    width: 200px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 100%;
}

/* Main-col */
article#main-col{
    display: inline-block;
    width: 500px;
}


footer{
  width: 200px;
  background: #BD9C8C;
  color: #DAC8BF;
  margin: 0px 0px 10px 0px;
  padding: 10px;
}


